/* ========================= */
/* File BookList.jsx         */
/* ========================= */

.book {
  background-color: antiquewhite;
  padding: 2rem 0rem;
}

.select_story {
  background-color: #fae5d7;
  padding: 2rem;
  margin: unset;
  box-shadow: -2px 1px 5px 0px rgba(0, 0, 0, 0.2);

  li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li::before {
    content: "";
    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url(../public/logo_fragment.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 1rem;
  }

  a {
    color: black;
    text-decoration: underline;
    font-weight: 600;
  }
}

/* ========================= */
/* File BookPage.jsx         */
/* ========================= */

.page_book {
  background-color: rgb(250, 250, 231);

  .title_book {
    background-color: bisque;
    padding: 0.25rem;
    box-shadow: -2px 1px 5px 0px rgba(0, 0, 0, 0.2);

    h3 {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: medium;
      margin: unset;
      padding: 0.25rem;

      span {
        text-transform: capitalize;
        font-style: italic;
        font-weight: 400;
      }
    }

    .show_images {
      padding-bottom: 0.25rem;

      .text_info_show_images {
        margin: 0.5rem 1.5rem;
      }

      .button_show_images {
        background-color: beige;
        border-radius: 5px;
        padding: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
      }
    }
  }

  .images {
    max-width: 90%;
    height: auto;

    /*text image alt*/
    white-space: pre-wrap;
    text-align: left;
  }

  .image_alt_if_choice_no_display {
    background-color: rgb(250, 250, 185);
    padding: 0.75rem 1rem;
    font-style: italic;
    margin-bottom: 1.5rem;

    .image_alt_intro {
      font-style: normal;
      font-weight: 600;
      line-height: 2;
    }
  }

  .display_text_current {
    white-space: pre-wrap;
    text-align: left;
    padding: 0rem 3rem;
  }

  .chapter_choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem 0rem;

    .button_chapter_choice {
      background-color: bisque;
      cursor: pointer;
      width: 60%;
      max-width: 80%;
      padding: 0.5rem 1rem;
      text-align: center;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.438);
      box-shadow: 0 2px 4px rgba(126, 7, 238, 0.3);
    }
  }
}
