.app_global_page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Partie centrale qui pousse le footer */
.app_main {
  flex: 1;
}

body {
  margin: 0;
  padding: 0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: antiquewhite;
}

h3 {
  margin: 0;
}
