#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  flex-direction: column;
  text-align: center;
  margin: 0;
  /*max-width: 1280px;*/
  /*padding: 2rem;*/
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  /*display: flex;
  place-items: center;*/
}
